$button-Aceptar: green;
$button-Cancelar: orange;
$button-Peligro: red;
$button-Pregunta: yellow;
$button-text-white: white;
$button-text-black: black;
$fondo-primario: rgb(216, 211, 204);
$fondo-container: white;
$fondo-input: antiquewhite;
$letra-color: black;
$list-label-hover: chocolate;
$list-item-hover: burlywood;