@use 'complemento';

$letra-tipo: Arial;
$letra-tam: 16px;

%texto-shared{
    font-family: $letra-tipo;
    font-size: $letra-tam;
}

%button-shared{
    @extend %texto-shared;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    height: 30px;
    margin: 0 10px;
}

%container-shared{
    width: 80%;
    margin: 0 auto;
    background: complemento.$fondo-container;
    padding: 10px; 
}

@mixin boton-background-color($boton-background, $boton-color){
    @extend %button-shared;
    background: $boton-background;
    color: $boton-color;
}

body {
    background: complemento.$fondo-primario;
}

.button{
    @extend %container-shared;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    &__Aceptar{
        @include boton-background-color(complemento.$button-Aceptar,complemento.$button-text-white);
    }
    &__Cancelar{
        @include boton-background-color(complemento.$button-Cancelar,complemento.$button-text-black);
    }
    &__Peligro{
        @include boton-background-color(complemento.$button-Peligro,complemento.$button-text-white);
    }
    &__Pregunta{
        @include boton-background-color(complemento.$button-Pregunta,complemento.$button-text-black);
    }
}

.list{
    padding: 0;
    list-style: none;
    margin: 0;
    &__input{
        opacity: 0;
        margin: 0;
        position: absolute;
    }
    &__label{
        @extend %texto-shared;
        cursor: pointer;
        padding: 10px 16px;
        display: block;

        &:hover{
            background: complemento.$list-label-hover;
        }
    }
    &__accordion{
        display: none;
    }
    &__input:checked ~ {
        .list__accordion{
            display: block;
            padding: {
                left: 10px;
                top: 5px;
            }
        }
    }
    &__item{
        padding-left: 16px;

        &:hover{
            background: complemento.$list-item-hover;
        }
    }
    &__link{
        color: complemento.$letra-color;
        text-decoration: none;
    }
}

.fparagraph{
    &__text{
        @extend %texto-shared;
    }
}

.form{
    @extend %container-shared;
    &__label{
        @extend %texto-shared;
        margin-bottom: 10px;
    }
    &__input{
        background-color: complemento.$fondo-input;
        margin-bottom: 10px;
        height: 20px;
        padding: 8px;
        border-radius: 10px;
    }
    &__button{
        @extend %button-shared;
        background-color: complemento.$fondo-input;
    }
}

$breakpoint-small: 600px;

@media screen and (max-width: $breakpoint-small) {
    .list{
        &__accordion{
        display: block;
        }
        &__label{
        padding: 5px 16px;
        }
    }
}

